body{
    background-color: #111827;
}
.nuni{
    font-family: Nunito;
    font-weight: 700;
}
.just-nuni{
    font-family: Nunito;
    font-weight: 300;
}
.reg-nuni{
    font-family: Nunito;
    font-weight: 400;
}
font-nuni{
    font-family: Nunito;
}